@use "../abstracts/variables" as variables;

.showline {
  width: 100%;
  border-bottom: 4px solid variables.$secondary-yellow;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: -10px;
    transform: rotate(45deg);
    width: 16px;
    aspect-ratio: 1 / 1;
    background-color: variables.$secondary-yellow;
  }

  &--right {
    width: 41px !important;
    &::before {
      width: 10px;
      left: auto;
      right: -10px;
      bottom: -7px;
    }
  }
}
