@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

section {
    @include mixins.flex-center();
    flex-direction: column;
    height: 100vh;
    aspect-ratio: 1 / 1;
    background-color: variables.$start-bg;
}