@mixin flex-center($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin font-almarai($size: 16px, $weight: 400) {
    font-family: 'Almarai';
    font-weight: $weight;
    font-size: $size
}