@mixin flex-center($flex-dir: row, $justify-content: center, $align-items: center, $gap: 0) {
    display: flex;
    flex-direction: $flex-dir;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin font-almarai($size: 16px, $weight: 400) {
    font-family: 'Almarai';
    font-weight: $weight;
    font-size: $size
}

@mixin font-redrose($size: 16px, $weight: 400) {
    font-family: 'Red Rose';
    font-weight: $weight;
    font-size: $size
}